body{
background-color: #f2f2f2;
}

p{
color:#262424;
font-family: 'Source Sans Pro', sans-serif;
}

ul, ol{
color:#262424;
font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
color:#262424;
font-family: 'Didact Gothic', sans-serif;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

table {
    border-collapse: collapse;
}
table td {
     border: 3px solid black;
}

th, tr{
font-family: 'Source Sans Pro'
}
